<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Console Log</title>
</head>
<style>
    .info {
        color: green;
    }

    .output {
        color: black;
    }

    .error {
        color: red;
    }
</style>
<body>
    #foreach ($log_string in $log_data)
    #if ($log_string.startsWith("E: "))
    <div class="error">$log_string</div>
    #elseif ($log_string.startsWith("O: "))
    <div class="output">$log_string</div>
    #else
    <div class="info">$log_string</div>
    #end
    #end
</body>
</html>